#container {
    width: 0px auto;
    height: 2000px;
    margin: 0px auto;
    background-color: #F0F8BD;
}

header {
    width: 1000px;
    height: 150px;
    margin: 0px auto;
    background-color: #F0F8BD;
    display: flex;
}

#ustsol {
    float: left;
}

#ustsag {
    float: left;
    ;
}

header nav {
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F0F8BD;
    border-radius: 5px;
    border: 1px solid lightgray;
}

main {
    width: 1000px;
    height: 1800px;
    margin: 0px auto;
}

header nav a {
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    background-color: #93D9D8;
    color: lightslategray;
    text-decoration: none;
    border-radius: 7px;
}

main h1 {
    clear: both;
    display: flex;
    justify-content: center;
    background-color: lightblue;
    border-radius: 50%;
}

main #kutu {
    width: 200px;
    height: 320px;
    border-radius: 5px;
    margin: 10px;
}

#kutu:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 1s;
}

#kitaplar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.açıklama {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    line-height: 13px;
}

.kitap1 {
    margin-left: 30px;
    margin-top: 5px;
}



#kutu a {
    display: flex;
    justify-content: flex-end;
     text-decoration: none;
}

footer {
    width: 1000px;
    height: 100px;
    margin: 0px auto;
    background-color: #FBC9CC;
    display: flex;
    align-content: center;
}

#altsol p {
    width: 1000px;
    color: black;
    font-size: 20px;
    float: left;
}

#altsag {
    float: right;
    clear: both;
    display: flex;
    justify-content: flex-end;
}

#altsag .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 1em;
    height: 1em;
    margin-right: 10px;
    border-radius: 50%;
    padding: 20px;
    text-decoration: none;
}

.icon:hover {
    background-color: #02BEC4;
    color: blue;
}